/*------------------------------------------------------------------
[Master Stylesheet]

Template Name: Mad Lemur - A Modern Template for Digital Agencies
Template URL: http://madlemur.madsparrow.us/
Version: 1.0
Author: madsparrow.us

--------------------------------------------------------------------
[Table of contents]

1. General style
    1.1 Typography
    1.2 Additional Classes
    1.3 Button
2. Header
    2.1 Logo
    2.2 Menu
3. Content
    3.1 Parallax
    3.2 About
    3.3 Service
    3.4 Testimonial
    3.5 Work
    3.6 Our team
    3.7 Blog
        3.7.1 Timeline
        3.7.2 Sidebar
        3.7.2 Single Post
    3.8 Portfolio Item
    3.9 Subscribe
    3.10 FAQ
    3.11 Pricing
    3.12 Contact
        3.12.1 Map
4. Footer
5. Responsive rules

--------------------------------------------------------------------
# font-family: "Oswald", "Open Sans";
# Main Text Color: #676767;
# Accent Color: #04b533;
# Active Color: #3c3c3c;
------------------------------------------------------------------*/

@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/**
 * 1. General style
 */
html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    -webkit-transition: opacity .3s ease;;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li a:hover {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
img {
    width: 100%;
}
hr {
    border-top: solid 1px #DDDCED;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.form-control:focus {
    outline: none !important;
    box-shadow: none;
}
/**
 * 1.1 Typography
 */

h1,
h2,
h4 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    line-height: 1.25;
}
h1 {
    font-size: 56px;
}
h2 {
    position: relative;
    font-size: 48px;
}
h3 {
    font-size: 28px;
    line-height: 1.8;
    margin-bottom: 24px;
}
h4 {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
    color: #444444;
}
h5 {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 24px;
}
p {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0;
    font-weight: 300;
}
q {
    font-style: italic;
}
blockquote {
    border-left: 5px solid #04b533;
}
figcaption {
    margin: 25px 0 15px;
    text-align: center;
}
figcaption p {
    margin: 0;
    font-weight: 400;
    color: #333c4e;
    line-height: 1.55em;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
figcaption small {
    display: block;
    font-size: 14px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.container {
    width: 100%;
    padding: 0;
}
.row {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    padding: 0 1.5rem;
}
/**
 * 1.2 Additional Classes
 */
.spacer {
    margin: 15px 0;
}
.reset {
    padding: 0 !important;
}
.fix {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.disable-hover {
    pointer-events: none;
}
.scroll-off {
    overflow: hidden;
}
.card-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
                0 4px 25px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.blog-post.col-md-6:nth-child(2n+1) {
    clear: left;
}
.ghost-bg {
    background: #F7F7FC !important;
}
.nopadding {
	padding: 0;
}
/**
 * 1.3 Button
 */

.section-button {
    text-align: center;
    margin: 15px 0 0;
}
.btn {
    background: #04b533;
    position: relative;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    padding: 12px 30px;
    margin: 10px 1px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 5px;
}
.btn.transparent {
    background: transparent;
    border: solid 1px;
    color: #fff;
    line-height: 1.2;
}
.btn.transparent:hover {
    border-color: #3c3c3c;
}
.btn:hover,
.btn.btn-primary:hover {
    color: #fff;
    background: #3c3c3c;
    text-decoration: none;
    box-shadow: 0 6px 18px rgba(235, 72, 77, 0.3);
}
.btn.focus {
    color: #fff;
}
.btn.btn-primary:focus,
.btn.btn-primary:active {
    outline: none;
    background-color: #3c3c3c;
}
.btn.btn-primary:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.btn:active {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    outline: none;
}
.btn.btn-just-icon,
.navbar .navbar-nav > li > a.btn.btn-just-icon {
    font-size: 18px;
    padding: 8px 8px;
    line-height: 1em;
    width: 34px;
}
.btn.btn-simple {
    font-size: 24px;
}
.back-top {
    position: fixed;
    bottom: 80px;
    bottom: 5rem;
    right: 80px;
    right: 5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: 5;
    padding: 10px;
    text-align: center;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.back-top.back-top-is-visible,
.back-top.back-top-fade-out,
.no-touch .back-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.back-top.back-top-is-visible {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.back-top.back-top-fade-out {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.back-top:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.back-top:focus {
    color: #fff;
    box-shadow: none;
}
.back-top:focus i {
    outline: none;
}
/* Btn Socials colors*/

.btn-just-icon.btn-twitter {
    background: #55acee;
}
.like-post .fa-heart-o {
    color: #f21107;
}
.share-post .fa-twitter {
    color: #55acee;
}
.btn-just-icon.btn-facebook {
    background: #3b5998;
}
.share-post .fa-facebook {
    color: #3b5998;
}
.btn-just-icon.btn-dribbble {
    background: #ea4c89;
}
.btn-just-icon.btn-instagram {
    background: #125688;
}
.btn-just-icon.btn-google {
    background: #dd4b39;
}
.share-post .fa-google-plus {
    color: #dd4b39;
}
.btn-just-icon.btn-linkedin {
    background: #0976b4;
}
.btn-simple.btn-twitter {
    color: #55acee;
    background: transparent;
    box-shadow: none;
}
.btn-simple.btn-facebook {
    color: #3b5998;
    background: transparent;
    box-shadow: none;
}
.btn-simple.btn-dribbble {
    color: #ea4c89;
    background: transparent;
    box-shadow: none;
}
.btn-simple.btn-instagram {
    color: #125688;
    background: transparent;
    box-shadow: none;
}
.btn-simple.btn-google {
    color: #dd4b39;
    background: transparent;
    box-shadow: none;
}
.btn-simple.btn-linkedin {
    color: #0976b4;
    background: transparent;
    box-shadow: none;
}
.btn-simple.btn-youtube {
    color: #e52d27;
    background: transparent;
    box-shadow: none;
}
/* Icons */

.icon.icon-primary {
    color: #9c27b0;
}
.info-horizontal .icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;
}
/**
 * 2. Header
 */

nav ul {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.header {
    line-height: .5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header-inner {
    padding: 15px;
    display: inline-block;
    width: 100%;
}
.auto-hide-header {
    position: fixed;
    z-index: 14;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    max-width: 100%;
    padding: 0 80px;
    padding: 0 5rem;
    background: #156129;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    transition: background .5s, -webkit-transform .5s;
    border-bottom: solid 1px rgba(255, 255, 255, 0);
    box-shadow: 0 10px 20px -12px rgba(78, 70, 145, 0.56),
                0 3px 20px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.auto-hide-header::after {
    clear: both;
    content: "";
    display: block;
}
.auto-hide-header.is-hidden {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.auto-hide-header.navbar-transparent {
    background: transparent;
    box-shadow: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.auto-hide-header.navbar-transparent .menu li a {
    color: #fff;
}
/**
 * 2.1 Logo
 */

.logo {
    padding: 0;
    height: 32px;
    z-index: 4;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo a {
    height: 45px;
    float: left;
    position: relative;
}
.logo img {
    height: 100%;
    width: auto;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/**
 * 2.2 Menu
 */

.menu,
.menu-right-box {
    line-height: 1.5;
    height: 32px;
    position: relative;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.menu_list {
    margin-bottom: 0;
}
.menu li {
    float: left;
    position: relative;
    padding: 0 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}
.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    color: #fff;
}
.menu ul li:hover > ul {
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.menu_list:hover > li > a {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.menu_list > li > a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.sub-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: 0;
    padding-top: 12px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.sub-menu:after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 12px);
    background: #fff;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(78, 70, 145, 0.560784) 0px 10px 20px -12px, rgba(0, 0, 0, 0.117647) 0px 3px 20px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
}
.sub-menu:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    top: 8px;
    left: 32px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sub-menu li {
    padding: 0;
    width: 140px;
    z-index: 3;
}
.sub-menu li a {
    color: #676767 !important;
    font-size: 12px !important;
    padding: 10px;
}
.sub-menu > li:first-child,
.sub-menu ul > li:first-child {
    border-radius: 4px 4px 0 0;
}
.sub-menu > li:last-child,
.sub-menu ul > li:last-child {
    border-radius: 0 0 4px 4px;
}
.sub-menu li:hover {
    background: rgba(171, 173, 217, .1)
}
.mobile-menu-btn {
    display: none;
}
.nav-trigger {
    float: right;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}
.nav-trigger em,
.nav-trigger em:before,
.nav-trigger em:after {
    display: block;
    position: relative;
    height: 2px;
    width: 24px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.nav-trigger em:before,
.nav-trigger em:after {
    position: absolute;
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -webkit-transition: transform .3s;
    transition: transform .3s;
    -webkit-transition: transform .3s, -webkit-transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.nav-trigger em:before {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}
.nav-trigger em:after {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
}
.nav-open .nav-trigger em {
    background-color: rgba(255, 255, 255, 0);
}
.nav-open .nav-trigger em:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav-open .nav-trigger em:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.box-inner {
    text-align: right;
    float: right;
    width: 100%;
}
/**
 * 3. Content
 */

.container > section {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}
.ms-portfolio {
    padding-top: 90px;
    padding-bottom: 90px;
}
.ms-hero-copy {
    top: auto;
    width: 60%;
    text-align: center;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: #F7F7FA;
    margin: 0 auto 15px;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ms-hero-copy.ms-title {
    margin-bottom: 0;
}
.ms-hero-copy.ms-title small {
    color: #fff;
}
.ms-hero-copy.ms-title b {
    text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.ms-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}
.ms-title h2 {
    position: relative;
    color: #156129;
    margin: 0 auto 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
}
.ms-title h3 {
    font-size: 16px;
    width: 66.666%;
    margin: 0 auto;
    text-transform: capitalize;
    letter-spacing: normal;
}
article {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.ms-grid {
    padding: 0;
}
.ms-grid figure {
    position: relative;
    padding-bottom: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.pagination {
    margin-bottom: 0;
}
.pagination > li > a {
    position: relative;
    float: left;
    margin-right: 5px;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #4a4a4a;
    text-decoration: none;
    background-color: #fff;
    border: none;
}
.pagination > li > a i {
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
}
.pagination>li>a.active {
    background: #3c3c3c;
    color: #fff;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    border-radius: 4px;
}
/**
 * 3.1 Parallax
 */

.hero-parallax {
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.page-heading.parallax-slider {
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.ellipse-border {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.ellipse-border-bottom {
    position: absolute;
    width: 100%;
    top: 0rem;
    left: 0;
}
.ellipse-border svg {
    width: 100%;
    height: 100%;
    position: absolute;
    vertical-align: bottom;
}
.ellipse-border-bottom svg {
    width: 100%;
    height: 100%;
}
.parallax-slider .row {
    z-index: 2;
}
.parallax-slider .ms-title,
.parallax-slider .ms-title h2,
.parallax-slider .ms-title h3 {
    z-index: 4 !important;
    color: #fff;
}
.parallax-slider::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    top: 0;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #04b533, #000000);
    background-image: linear-gradient(-45deg, #04b533, #000000);
}
.ellipse-bottom::before{
    background-image: none;
}
.parallax-slider::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 160px 10px rgba(0, 0, 0, .4);
    background-image: url("../images/subtle-dots.png");
}
/**
 * 3.1 Customers list
 */

.customers-list {
    margin: 0;
}
.ms-customer {
    padding: 30px 0;
    display: block;
}
.customers-list li {
    height: auto;
    text-align: center;
}
.customers-list li img {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    height: auto;
    width: 100%;
    display: inline-block;
}
.customers-list li:focus {
    outline: none;
}
/**
 * 3.2 About
 */

.ms-about .ms-title {
    margin-bottom: 0;
}
.ms-about p {
    margin: 0;
    text-align: center;
}
/**
 * 3.3 Service
 */

.service-item:nth-child(3n+1) {
    clear: left;
}
.service-item {
    cursor: default;
}
.service-item i {
    margin: 26px 0 24px;
    font-size: 48px;
    border: solid 1px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.service-item:hover > i {
    border: solid 1px;
    background: #fff;
    box-shadow: 0 16px 26px -10px;
}
/**
 * 3.4 Testimonial
 */

.testimonial-slider {
    z-index: 3;
    margin: 0 auto;
}
.controls-navigate {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.controls-navigate .prev i,
.controls-navigate .next i {
    font-size: 48px;
    cursor: pointer;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .4);
}
.controls-navigate .prev {
    color: #fff;
    margin-top: 30px;
    margin-right: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    z-index: 4;
}
.controls-navigate .next {
    color: #fff;
    margin-top: 30px;
    margin-left: auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    z-index: 4;
}
.testimonial-cell {
    cursor: pointer;
}
.testimonial-cell:focus {
    outline: none;
}
.testimonial-cell i {
    width: 100%;
    position: absolute;
    right: -30px;
    top: -68px;
    color: #fff;
    font-size: 64px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, .3);
}
.testimonial-quote {
    display: block;
    position: relative;
    font-size: 16px;
    padding: 30px;
    width: 75%;
    margin: 0 auto 30px;
    background: #fff;
    border-radius: 6px;
}
.testimonial-author {
    display: block;
    width: auto;
    color: #fff;
    margin: 0 auto;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.author-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    padding: 15px 0 20px;
}
.testimonial-avatar {
    position: relative;
    margin: 0 auto;
    width: 100px;
    box-shadow: 0 16px 20px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.testimonial-avatar img {
    border-radius: 6px;
}
.testimonial-author p {
    margin: 15px;
}
.testimonial-author span {
    display: block;
    font-size: 14px;
    font-weight: 300;
}
/**
 * 3.5 Work
 */

/* Zoom effect */

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
.item-content {
    position: relative;
    widows: 100%;
    height: 100%;
}
.item-select-option {
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    left: 0;
    top: 0;
    margin: 0 auto;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
}
.item-select-option i {
    color: #fff;
    font-size: 32px;
    padding: 5px;
    background: #04b533;
    margin: 5px;
    border-radius: 4px;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}e.item-select-option i:hover {
    background: #3c3c3c;
}
.grid-item.col-md-4:nth-child(3n+1) {
    clear: left;
}
.grid-item img {
    display: block;
    position: relative;
    border-radius: 6px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56),
                0 4px 25px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
img.mfp-img {
    padding-bottom: 15px;
}
.ms-grid:hover figure {
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.ms-grid:hover .grid-item img {
    box-shadow: none;
    -webkit-transform: scale(.95);
    transform: scale(.95);
    cursor: pointer;
}
.ms-grid figure:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: #3c3c3c;
}
.ms-grid figure:hover .item-select-option {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    transform: scale(1);
}
.item-select-option i:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    outline: none;
}
.ms-grid figure:hover img {
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
    box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}
/**
 * 3.6 Our team
 */

.ms-our-team figcaption {
    position: relative;
    /* overflow: hidden; */
    z-index: 2;
}
.team-socials {
    position: absolute;
    width: 100%;
    top: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.team-socials a {
    text-align: center;
    margin: 0 5px 5px 0;
}
.ms-our-team .grid-item:hover figcaption p {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ms-our-team .grid-item:hover .team-socials {
    top: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.team-socials .btn:hover {
    box-shadow: none;
}
/**
 * 3.7 Blog
 */

.blog-post {
    padding: 15px 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: block;
}
.blog-post img {
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56),
                0 4px 25px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.post-info a {
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 14px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4a4a4a;
}
.post-info i {
    font-size: 16px;
    margin-right: 5px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.post-info a {
    text-transform: capitalize;
    margin-right: 10px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.post-info a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.blog-post a {
    color: #04b533;
}
.blog-post h5 {
    margin: 30px 0 15px;
    font-weight: 400;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.blog-post p {
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
}
.blog-post:hover h5 {
    color: #3c3c3c;
}
.like-post,
.share-post {
    display: inline-block;
}
.share-post {
    float: right;
}
.like-post li,
.share-post li {
    display: inline-block;
}
.like-post li:first-child,
.share-post li:first-child {
    font-weight: 600;
    font-size: 14px;
}
.like-post a,
.share-post a {
    padding: 0 5px;
    font-size: 16px;
}
/**
 * 3.7.1 Timeline
 */

.timeline {
    margin-bottom: 60px;
    padding: 15px 0 0;
}
.timeline .blog-post {
    overflow: hidden;
}
.timeline li {
    padding: 0px 15px 60px 15px;
}
.timeline li:last-child {
    padding-bottom: 60px;
}
.timeline:before {
    content: '';
    position: absolute;
    border-left: 4px solid #E4E3EF;
    width: 100%;
    height: 100%;
    left: 16.32366666667%;
}
.timeline h5 {
    margin: 0;
}
.timeline p {
    margin: 15px 0;
}
.timeline-date {
    text-align: right;
    padding-right: 15px;
    padding-top: 2px;
}
.timeline-date .post-info a {
    margin-right: 30px;
}
.timeline-date:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    background: #04b533;
    border: solid 2px #E4E3EF;
    box-shadow: 0 0 0 2px hsl(0, 0%, 80%), 0 0 0 2px hsl(0, 0%, 90%);
    top: 5px;
    right: 5px;
    border-radius: 50%;
    transition: all .3s ease;
}
.timeline .blog-post:hover .timeline-date:after {
	background: #3c3c3c;
	border-color: #3c3c3c;
}
/**
 * 3.7.2 Sidebar
 */

.blog-sidebar {
    padding-top: 15px;
}
.blog-sidebar ul {
    margin-bottom: 40px;
}
.sidebar-search {
    margin-bottom: 40px;
}
.sidebar-search input {
    background-image: none;
    width: 100%;
    border: solid 1px rgba(49, 54, 168, 0.14902);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sidebar-search input:focus {
    background-image: none;
    outline: none !important;
    border: solid 1px #04b533;
    box-shadow: none;
}
.input-group-btn button {
    background: transparent;
    border: none;
    outline: none !important;
    background: #04b533;
    color: #fff;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sidebar-latest li {
    padding-bottom: 15px;
}
.sidebar-latest img {
    width: 60px;
    border-radius: 5px;
    margin-right: 15px;
    float: left;
}
.sidebar-latest h5 {
    font-size: 16px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    margin-bottom: 5px;
}
.sidebar-latest h5:hover {
    color: #3c3c3c;
}
.sidebar-categories li {
    border-bottom: solid 1px rgba(49, 54, 168, 0.14902);
    padding: 10px 0;
}
.sidebar-latest li:last-child,
.sidebar-categories li:last-child {
    border-bottom: none;
}
.sidebar-categories a {
    color: #4a4a4a;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.sidebar-tags li {
    float: left;
    line-height: 1.8;
    margin: 0px 8px 8px 0;
}
.sidebar-tags li a {
    background: #04b533;
    padding: 4px 8px;
    border-radius: 5px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.sidebar-tags a {
    color: #fff;
    font-size: 13px;
}
.sidebar-categories a:hover {
    color: #3c3c3c;
}
.sidebar-tags li a:hover {
    background: #3c3c3c;
}
/**
 * 3.7.3 Single Post
 */
 .single-post p {
 	text-align: justify;
 }
.post-details .post-info {
    margin-bottom: 22px;
    margin-top: 16px;
}
.post-details .sidebar-tags {
	margin-top: 10px;
}
.post-details .post-info a {
    cursor: pointer;
    color: #04b533;
}
.media {
    margin-bottom: 30px;
}
.media .media-object {
    width: 80px;
    border-radius: 4px;
}
.media-heading {
    margin-bottom: 10px;
}
.media-heading small {
    margin-left: 5px;
}
.media-body {
    font-size: 16px;
    font-weight: 300;
}
.nasted-comment {
    margin-left: 90px;
}
.media-left,
.media>.pull-left {
    padding-right: 30px;
    margin-top: 0;
}
.media-body a {
    display: block;
    width: 70px;
    color: #04b533;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}.media-body a:hover {
    color: #3c3c3c;
}
.media-body i {
    margin-right: 10px;
}
.media-body > .media {
    margin-top: 24px;
}
.single-post-comments {
    margin-top: 90px;
}
.post-comment-name {
    padding-left: 0;
}
.post-comment-email {
    padding-right: 0;
}
.post-comment-btn {
    padding-top: 6px;
}
/**
 * 3.8 Portfolio item
 */

.portfolio-inner {
    overflow: hidden;
    width: 100%;
}
#sticky {
    float: left;
    position: static;
}
.project-details {
    margin: 24px 0;
}
.project-details li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(49, 54, 168, 0.14902);
}
.project-details li:last-child {
    border-bottom: none;
}
.project-details span {
    font-weight: 600;
    margin-right: 10px;
}
.project-details .share-post {
    float: none;
}
.single-nav {
    text-align: center;
    padding: 15px 0;
    border-top: solid 1px rgba(49, 54, 168, 0.14902);
    border-bottom: solid 1px rgba(49, 54, 168, 0.14902);
}
.single-nav.portfolio-item-nav {
    margin-top: 90px;
}
.single-nav .btn {
    padding: 10px;
}
.single-nav a {
    color: #fff;
    display: block;
    text-align: center;
    line-height: .8;
}
.single-prev {
    float: left;
}
.single-next {
    float: right;
}
.single-prev span,
.single-next span {
    display: inline-block;
    vertical-align: middle;
}
.single-next-title {
    margin: 0 15px;
    font-size: 16px;
}
.related-projects {
    margin-bottom: 90px;
}
/**
 * 3.9 Subscribe
 */

.ms-subscribe {
    padding: 0;
    color: #fff;
    text-align: center;
}
.subscribe-content .card-raised {
    background: #fff;
    display: inline-block;
    border-radius: 6px;
    float: none;
    padding: 0;
}
.subscribe-content .btn {
    margin: 15px 0;
}
.subscribe-content .submit {
    text-align: right;
}
.subscribe-content .form-group {
    margin: 15px 0 0 0;
    display: table;
    border-collapse: separate;
}
.subscribe-content .input-group-addon {
    border: 0;
    background-color: transparent;
    padding: 6px 15px 0px;
}
.subscribe-content .input-group-addon i {
    color: #676767 !important;
}
.subscribe-content .form-group input {
    padding: 21px 0;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.subscribe-content .form-group input::-webkit-input-placeholder {
    transition: color .3s ease;
}
.subscribe-content .error::-webkit-input-placeholder {
    color: #3c3c3c;
    transition: color .3s ease;
}
.form-group {
    margin-top: 18px;
    margin-bottom: 18px;
}
.form-control,
.form-group .form-control {
    border: 0;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    -webkit-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border: solid 1px #DDDCED;
    border-radius: 5px;
    font-weight: 400;
}
/**
 * 3.10 FAQ
 */

.ms-faq {
    margin-bottom: 40px;
}
.ms-faq .col-md-4 {
    text-align: center;
    margin-bottom: 30px;
}
.ms-faq .col-md-4:nth-child(3n+1) {
    clear: left;
}
.faq-icon i {
    font-size: 2.6em;
}
.faq-info h4 {
    margin: 15px 15px;
}
/**
 * 3.11 Pricing
 */

.card-pricing {
    border: solid 1px #DDDCED;
    text-align: center;
    padding: 15px 0;
    border-radius: 6px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.category {
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.card-title {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #04b533;
    margin-left: -10px;
}
.card-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;
}
.card-pricing ul li {
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
.card-pricing ul li:last-child {
    border: 0;
}
.card-pricing:hover .card-title {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.card-pricing small {
    position: relative;
    top: -26px;
    padding: 5px;
    font-size: 26px;
    color: #04b533;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.card-pricing:hover {
    border: solid 1px #3c3c3c;
    box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56),
                0 4px 25px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card-pricing:hover .card-title {
    color: #3c3c3c;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.card-pricing:hover .card-title small {
    color: #3c3c3c;
}
/**
 * 3.12 Contact
 */

#contact-form {
    padding: 15px;
    background: #fff;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56),
                0 4px 25px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.form-group .control-label {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    margin-bottom: 5px;
}
.control-label.active {
    color: #3c3c3c;
}
.form-group textarea {
    height: 120px;
    max-height: 360px;
    max-width: 100%;
    min-width: 100%;
}
.info-horizontal .icon > i {
    font-size: 2.6em;
}
.info-horizontal .description p {
    margin: 0;
}
.info .info-title {
    position: absolute;
    top: 0;
    color: #3C4858;
    margin: 30px 0 15px;
}
.contact-content .description {
    margin-bottom: 30px;
}
label.error {
    color: red;
    font-size: 12px;
    font-weight: 300;
}
label.error:after {
    content: '*';
    position: absolute;
}
/**
 * 3.12.1 Map
 */

.contact-map {
    height: 120px;
    width: 100%;
    top: -190px;
    margin-top: 0px;
    bottom: 0;
    position: relative;
}
#map {
    width: 100%;
    height: 100%;
    min-height: 400px;
    z-index: 1;
}
/**
 * 4. Footer
 */

footer {
    padding: 30px 0;
    position: relative;
}
.footer-social-buttons {
    text-align: center;
    margin-bottom: 0;
}
.footer-social-buttons li {
    display: inline-block;
}
.footer-social-buttons .btn {
    padding: 0px;
    margin-top: 0;
    font-size: 18px;
    width: 30px;
}
.copyright {
    text-align: center;
}
/**
 * 5. Responsive rules
 */

@media only screen and (max-width: 1024px) {
    .row {
        padding: 0;
    }
    .menu-right-box {
        display: none;
    }
    .hero-parallax {
        height: 450px;
    }
    .page-heading.parallax-slider {
        height: 350px;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2.6em;
    }
    h2 {
        font-size: 2.2em;
    }
    h3 {
        font-size: 1.825em;
        line-height: 1.4em;
    }
    h4 {
        font-size: 1.6em;
    }
    .ms-title {
        margin-bottom: 30px;
    }
    .ms-title h3 {
        width: 100%;
        font-size: 14px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    p {
        font-size: 14px;
    }
    figcaption small {
        font-size: 85%;
    }
    .hero-parallax {
        height: 350px;
    }
    .ms-hero-copy {
        width: 100%;
    }
    .container > section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .controls-navigate {
        padding: 5px;
    }
    .card-pricing {
        margin-bottom: 15px;
    }
    .card-pricing small {
        top: -10px;
    }
    .subscribe-content .submit {
        text-align: center;
    }
    .back-top {
        right: 1.5rem;
        bottom: 1.5rem;
    }
    .single-next-title {
        display: none !important;
    }
    .single-nav.portfolio-item-nav {
        margin-top: 30px;
    }
    .ms-portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .timeline {
        margin: 0;
    }
    .timeline li {
        padding: 0px 0px 30px 0px;
    }
    .timeline h5 {
        margin: 15px 0 0;
    }
    .timeline-date {
        text-align: left;
        padding: 15px;
    }
    .timeline:before {
        display: none;
    }
    .timeline-date:after {
        display: none;
    }
    .blog-post img {
        box-shadow: 0 4px 12px -3px rgba(78, 70, 145, 0.56),
                    0 1px 8px 0px rgba(0, 0, 0, 0.12),
                    0 2px 3px -1px rgba(0, 0, 0, 0.2)
    }
    .sidebar-tags {
        margin-bottom: 0 !important;
    }
    .post-info a {
        font-size: 85%;
        margin-right: 7px;
    }
    .media-body {
        font-size: 14px;
    }
    .media.nasted-comment {
        margin-left: 0;
    }
    .post-comment-name,
    .post-comment-email {
        padding: 0;
    }
    .ms-customer {
        padding: 30px 0 0 0;
    }
    .customers-list li {
        padding: 15px 10px;
    }
    .ellipse-border-bottom {
        top: -0.58rem;
    }
    .contact-map {
        height: 120px;
    }
    .copyright {
        font-size: 12px;
    }
    /* Menu */
    
    .auto-hide-header,
    .auto-hide-header.navbar-transparent {
        background: rgba(6, 64, 37, 0.85);
        padding: 0;
    }
    .logo {
        height: 24px;
    }
    .logo a {
        height: 40px;
    }
    .mobile-menu-btn {
        display: block;
        height: 24px;
        float: right;
        padding: 0;
    }
    .menu {
        display: none;
    }
    .menu.menu-open {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 0;
        display: block;
        overflow: auto;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .menu-open .menu_list {
        top: 70px;
        height: calc(100% - 70px);
        overflow-y: auto;
        position: relative;
        background: #04b533;
        padding-bottom: 10px;
    }
    .menu li {
        display: block;
        width: 100%;
    }
    .menu li > a {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        margin-top: 10px;
    }
    .sub-menu {
        visibility: visible;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        padding-top: 0;
        display: none;
        position: relative;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: none;
        transition: none;
        background: transparent;
    }
    .sub-menu li {
        background: rgba(171, 173, 217, .1);
    }
    .sub-menu li a {
        color: #fff !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px !important;
        margin: 0;
    }
    .sub-menu:before {
        display: none;
    }
    .sub-menu:after {
        background: transparent;
        box-shadow: none;
    }
}

#bgvid {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.btn-Social {
    float: left;
    height: 20px;
    margin-bottom: -5px;
}

/* Certifications Section */
.certifications {
    width: 100%;
    float: left;
}
.certifications li {
    height: 55px;
    display: inline-block;
    margin-left: 5px;
}

.certifications li:first-child { 
    margin-left: 0px;
}